@import '../../styles/variables'; 

.vertical-tabs {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.tab-list {
    display: flex;
    flex-direction: column;
}

.tab-list .tab {
    padding: 10px;
    cursor: pointer;
}

.tab.active {
    background-color: #007bff;
    color: white;
}

.tab-content {
    padding: 10px;
}
