.main {
    height: 100vh;
    background-color: brown;
}

.mainRight {
    float: right;
}

.mainLeft {
    float: left;
    top: 50%;
    position: absolute;
    padding: 20px;
}

.mainLeft, .mainRight {
    width: 50%;
}

.mainHeading {
    font-size: 50px;
}