.skills {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-icon-container {
    margin: 30px;
}

.skills-icon-container .row {
    margin: 50px;
}

.skill-icon-list-item {
    padding-right: 100px;
}

svg {
    width: 120px;
    height: 120px;
}