@import '../../styles/variables'; 

.main {
    height: 100vh;
    color: $secondary-color;
    background-color: transparent;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.mainLeft, .mainRight {
    height: 50%;
    width: 500px;
}

.mainRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainRight div {
    padding: 25px; 
}

.mainHeading {
    font-size: 50px;
}

.main-image {
    object-fit: cover;
    height: 400px;
    width: 500px;
}

.mainContent {
    font-weight: bolder;
}