@import '../../styles/variables'; 

.interests {
    height: 100vh;
    flex: 1;
}

.interests .vertical-tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: $primary-color;
}

.interests .MuiTabs-root {
    width: 30%;
}

.interests .MuiButtonBase-root {
    height: 180px;
    color: $secondary-color;
    font-weight: bolder;
    cursor: pointer;
    max-width: 100%;
    width: 100%;
}

.interests .MuiButtonBase-root.Mui-selected {
    color: $secondary-color;
    // animation: pulse 1s infinite alternate; 
    // box-shadow: 0 0 10px #635985, 0 0 20px #635985; /* Box shadow with multiple layers */
    border: 2px solid #635985; /* Border with color */
    border-radius: 10px; /* Rounded corners */
}

.interests .MuiTabScrollButton-root {
    display: none;
}

.interests .tab-content {
    padding: 150px;
    width: 70%;
    // background-color: #635985;
    // box-shadow: 0 0 10px #635985, 0 0 20px #635985;
    border: 2px solid #635985;
    color: $secondary-color;
    font-weight: bolder;
    flex:1;
}

.interests .tabContentList {
    list-style-type: none;
}

.interests .tabContentList li {
    padding: 10px;
}

.interests .vertical-tabs span.MuiTabs-indicator{
    background-color: #18122B;
}

@media(min-width: 320px) {
    .interests .tab-content {
        padding: 20px;
        font-size: 15px;
    }
    .interests .MuiButtonBase-root {
        height: 120px;
        font-size: 15px;
    }
}

@media(min-width: 768px) {
    .interests .tab-content {
        padding: 50px;
        font-size: 15px;
    }
    .interests .MuiButtonBase-root {
        height: 100px;
        font-size: 15px;
    }
}

@media(min-width: 1024px) {
    .interests .tab-content {
        padding: 80px;
        font-size: 20px;
    }
    .interests .MuiButtonBase-root {
        height: 120px;
        font-size: 15px;
    }
}

@media(min-width: 1280px) {
    .interests .tab-content {
        padding: 80px;
        font-size: 20px;
    }
    .interests .MuiButtonBase-root {
        height: 130px;
        font-size: 20px;
    }
}