@import '../../styles/variables'; 

.testimonials {
    height: 100vh;
    flex:1;
}

.carouselContainer {
    background-color: $primary-color;
    margin: 20px;
    height: 800px;
}

.carouselContainer .carousel-item {
    height: 500px;
}
